$screen-xsm: 430px;

$screen-sm: 768px;
$screen-md: 1024px;
$screen-md-x: 1366px;
$screen-lg: 1600px;

$screen-laptop: 1600px;

$screen-sm: 576px; // mobile
$screen-md: 768px; // tablet
$screen-lg: 992px; // desktop chico
$screen-xl: 1200px; // desktop mediano
$screen-xxl: 1400px; // desktop grande

// Breackpoint: max-width of all page (bp)
$bp-max-width: 1300px;
