@import '../mixins/variables/color.scss';
@import '../mixins/sizes.scss';
@import '../mixins/utils.scss';

// header
// businessName, customerName (top)
@mixin companyNameHeaderText() {
  font-family: $font-family-primary;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1rem;
  color: $header-text-color;
  @include lg() {
    font-size: 1.125rem;
    line-height: 1rem;
  }
  @include md() {
    font-size: 1.125rem;
    line-height: 1rem;
  }
  @include sm() {
    font-size: 0.8rem;
    line-height: 0.85rem;
  }
}

// businessName, customerName (bottom)
@mixin companyNameProviderHeaderText() {
  font-family: $font-family-primary;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  color: $header-text-color;
  @include lg() {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  @include md() {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  @include sm() {
    font-size: 0.8rem;
    line-height: 0.85rem;
  }
}

// sidenav
// menu items
@mixin sidenavTextLabel {
  font-family: $font-family-primary;
  font-size: 0.875rem;
  line-height: 1.3;
  color: $sidenav-item-selected-text-color;
  @include lg() {
    font-size: 0.875rem;
  }
  @include md() {
    font-size: 0.875rem;
  }
  @include sm() {
    font-size: 0.875rem;
  }
}

// sub menu items normal
@mixin sidenavSubTextLabel {
  text-decoration: none;
  font-family: $font-family-primary;
  font-size: 0.875rem;
  line-height: 1.3;
  color: $sidenav-item-selected-text-color;
  @include lg() {
    font-size: 0.875rem;
  }
  @include md() {
    font-size: 0.875rem;
  }
  @include sm() {
    font-size: 0.875rem;
  }
}

// sub menu items active
@mixin sidenavActiveSubTextLabel {
  @include sidenavSubTextLabel();
  font-weight: 600;
}

// tab titles
@mixin mainTitleText() {
  font-family: $font-family-primary;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6rem;
  color: $secondary-color;
  @include lg() {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  @include md() {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  @include sm() {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

// card dashboard
@mixin simpleCardTitleText() {
  color: $secondary-color-text;
  font-family: $font-family-sec;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  @include lg() {
    font-size: 0.875rem;
    line-height: 1.3rem;
  }
  @include md() {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  @include sm() {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

@mixin simpleCardSubTitleText() {
  color: $primary-color-text;
  font-family: $font-family-sec;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: unset;
  @include lg() {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  @include md() {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  @include sm() {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  @include esm(200px) {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
}

@mixin currencyCardTitleText() {
  @include subTitleText();
  text-wrap: nowrap;
  color: $primary-color-text;
  font-family: $font-family-sec;
  font-weight: 600;
  line-height: normal;
}

// dashboard spinner
@mixin spinnerTextLabel() {
  font-weight: 500;
  color: $primary-color-text;
  font-family: $font-family-sec;
  font-size: 0.875rem;
  line-height: normal;
  @include lg() {
    font-size: 0.875rem;
  }
  @include md() {
    font-size: 0.875rem;
  }
  @include sm() {
    font-size: 0.875rem;
  }
}

// invoices progress
@mixin invoiceProgressTitleText() {
  @include subTitleText();
  font-weight: 600;
  color: $primary-color-text;
  font-family: $font-family-sec;
  line-height: normal;
}

@mixin invoiceProgressIncomeText() {
  text-align: center;
  font-family: $font-family-sec;
  font-size: 1.25rem;
  font-weight: 600;
  color: $primary-color-text;
  line-height: normal;
  @include lg() {
    font-size: 1.1rem;
  }
  @include md() {
    font-size: 1.1rem;
  }
  @include sm() {
    font-size: 1.1rem;
  }
}

@mixin invoiceProgressLimitText() {
  color: $secondary-color-text;
  font-family: $font-family-sec;
  font-size: 0.875rem;
  line-height: 1.375rem;
  @include lg() {
    font-size: 0.875rem;
  }
  @include md() {
    font-size: 0.875rem;
  }
  @include sm() {
    font-size: 0.875rem;
  }
}

@mixin invoiceProgressIndicatorLimitText() {
  line-height: normal;
  color: $primary-color-text;
  text-align: center;
  font-family: $font-family-sec;
  font-size: 1.125rem;
  font-weight: 600;

  @include lg() {
    font-size: 0.875rem;
  }
  @include md() {
    font-size: 0.975rem;
  }
  @include sm() {
    font-size: 0.975rem;
  }
}

@mixin invoiceProgressIndicatorLimitDescriptionText() {
  font-weight: 500;
  font-family: $font-family-sec;
  line-height: normal;
  color: $secondary-color-text;
  font-size: 0.875rem;

  @include lg() {
    font-size: 0.875rem;
  }
  @include md() {
    font-size: 0.875rem;
  }
  @include sm() {
    font-size: 0.875rem;
  }
}

// metrica mis ingresos (meses)
@mixin generalText() {
  font-family: $font-family-primary;
  font-weight: 400;
  line-height: 24px;
  color: $primary-color-text;

  @include lg() {
    font-size: 0.875rem;
  }
  @include md() {
    font-size: 0.875rem;
  }
  @include sm() {
    font-size: 0.875rem;
  }
}

// metrica mis ingresos title
@mixin generalTitles() {
  @include subTitleText();
  font-family: $font-family-primary;
  font-weight: 600;
  line-height: 18px;
  color: $primary-color-text;
}

@mixin tooltipPopupDescription() {
  font-family: $font-family-primary;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 18px;
  color: #636b75;
  @include lg() {
    font-size: 0.875rem;
  }
  @include md() {
    font-size: 0.875rem;
  }
  @include sm() {
    font-size: 0.875rem;
  }
}

// OLD
// reusable
@mixin subTitleText() {
  font-family: $font-family-primary;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 18px;
  color: $primary-color-text;
  @include lg() {
    font-size: 1rem;
  }
  @include md() {
    font-size: 1rem;
  }
  @include sm() {
    font-size: 1rem;
  }
  @include esm() {
    font-size: 1rem;
  }
}

@mixin tableRowText() {
  font-family: $font-family-sec;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 16.94px;
  color: $table-text;
  @include lg() {
    font-size: 0.6rem;
  }
  @include md() {
    font-size: 0.6rem;
  }
  @include sm() {
    font-size: 0.6rem;
  }
}

@mixin labelGeneralText() {
  @include generalText();
  color: $primary-color-text;
}

@mixin labelGeneralText2() {
  @include labelGeneralText();
  color: $secondary-color-text;
  font-weight: 500;
}

@mixin inputLabel() {
  @include generalText();
  color: $primary-color-text;
  font-weight: 600;
}

//@mixin generalTextValue() {
//  font-family: $font-family-primary;
//  font-size: 0.8rem;
//  font-weight: 400;
//  line-height: 18px;
//  color: $secondary-color-text;
//  @include md() {
//    font-size: 0.6rem;
//  }
//  @include lg() {
//    font-size: 0.6rem;
//  }
//  @include sm() {
//    font-size: 0.625rem;
//  }
//}

@mixin generalTextInfo() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 500;
  line-height: 18px;
  color: $primary-color-text;
  @include lg() {
    font-size: 1rem;
  }
  @include md() {
    font-size: 0.875rem;
  }
  @include sm() {
    font-size: 0.875rem;
  }
}

@mixin btnGeneralText() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3rem;
  @include lg() {
    font-size: 0.8rem;
    line-height: 1.15rem;
  }
  @include md() {
    font-size: 0.8rem;
    line-height: 1.125rem;
  }
  @include sm() {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

@mixin generalInputText() {
  @include labelText();
  font-family: $font-family-sec;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 18px;
}

@mixin errorText() {
  @include generalText();
  font-family: $font-family-sec;
  font-size: 0.8rem;
  font-weight: 500;
  color: $error-color;
  @include lg() {
    font-size: 0.7rem;
  }
  @include md() {
    font-size: 0.7rem;
  }
  @include sm() {
    font-size: 0.7rem;
  }
}

@mixin statusTxt() {
  font-family: $font-family-sec;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.2rem;
  color: $primary-color;
  @include lg() {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  @include md() {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
  @include sm() {
    font-size: 0.9rem;
    line-height: 0.95rem;
  }
}

@mixin subSubTitleText() {
  @include subTitleText();
  font-weight: 400;
}

@mixin mainTabText() {
  @include subSubTitleText;
  color: $secondary-color !important;
}

/*
    Sidenav
*/

@mixin textLabel() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 21px;
  color: $sidenav-item-not-selected-text-color;
  @include lg() {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  @include md() {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
  @include sm() {
    font-size: 0.65rem;
    line-height: 0.85rem;
  }
}

@mixin activeTextLabel() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 600;
  line-height: 21px;
  color: $sidenav-item-selected-text-color;
  @include lg() {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  @include md() {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
  @include sm() {
    font-size: 0.65rem;
    line-height: 0.85rem;
  }
}

@mixin subTexts() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
  color: $secondary-color;
  @include lg() {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  @include md() {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
  @include sm() {
    font-size: 0.65rem;
    line-height: 0.85rem;
  }
}

@mixin activeSubTexts() {
  font-family: $font-family-primary;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.1rem;
  color: $secondary-color;
  @include lg() {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  @include md() {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }
  @include sm() {
    font-size: 0.5rem;
    line-height: 0.85rem;
  }
}

@mixin licenseText() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 21px;
  color: $propisory-white;
  @include lg() {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  @include md() {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
  @include sm() {
    font-size: 0.65rem;
    line-height: 0.85rem;
  }
}

@mixin tableHeaderText() {
  font-family: $font-family-sec;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1rem;
  color: $table-header-text-color;
  @include lg() {
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
  @include md() {
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
  @include sm() {
    font-size: 0.65rem;
    line-height: 0.8rem;
  }
}

@mixin rowText() {
  font-family: $font-family-sec;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 16.94px;
  color: $table-text;
  @include lg() {
    font-size: 0.6rem;
  }
  @include md() {
    font-size: 0.6rem;
  }
}

@mixin titleLoginText() {
  font-family: $font-family-primary;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 58px;
  color: $propisory-white;
  @include lg() {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  @include md() {
    font-size: 1.7rem;
    line-height: 1.9rem;
  }
  @include sm() {
    font-size: 1.65rem;
    line-height: 1.85rem;
  }
}

@mixin paragraphText() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: $propisory-white;
  @include lg() {
    font-size: 1rem;
  }
  @include md() {
    font-size: 0.9rem;
  }
}

@mixin activeTabFiltersText {
  font-family: $font-family-sec;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 14.52px;
  color: $btn-filters-selected-text-color;
  background-color: $btn-filters-selected-bg-color;
  @include lg() {
    font-size: 0.7rem;
  }
  @include md() {
    font-size: 0.7rem;
  }
}

@mixin tabFiltersText {
  font-family: $font-family-sec;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 14.52px;
  color: $btn-filters-not-selected-text-color;
  opacity: 0.5;
  background-color: $btn-filters-not-selected-bg-color;
  @include lg() {
    font-size: 0.7rem;
  }
  @include md() {
    font-size: 0.7rem;
  }
}

/*
  Errors;
*/
@mixin errorTxt() {
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-family: $font-family-primary;
}

/*
  Dashboard
*/
@mixin routeText() {
  font-family: $font-family-primary;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 36px;
  color: $header-text-color;
}

@mixin secondaryText() {
  font-family: $font-family-sec;
  font-weight: 400;
  font-size: 1rem;
  color: $primary-color-text;
}

@mixin gradientTexts() {
  font-family: $font-family-primary;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 30px;
  background: $gradient-dashboard-text;
  -webkit-background-clip: text; // Esto aplica el fondo al texto
  -webkit-text-fill-color: transparent; // Esto hace que el texto sea transparente para que se vea el gradiente
  background-clip: text; // Clip para otros navegadores
  text-fill-color: transparent;
}

/*
  Login
*/

@mixin welcomeText() {
  font-family: $font-family-sec;
  font-size: 3rem;
  font-weight: 600;
  line-height: 0.8;
  color: $primary-color-text;
}

@mixin phoneWelcomeText() {
  @include welcomeText();
  color: $propisory-white;
  font-size: 2.1rem;
}

@mixin companyNameText() {
  font-family: $font-family-sec;
  font-size: 3rem;
  font-weight: 600;
  line-height: 34.44px;
  background: $app-btn-main-bg-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@mixin phoneCompanyNameText() {
  @include companyNameText();
  font-size: 2.3rem;
  -webkit-text-fill-color: $propisory-white;
}

@mixin itemsText() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 500;
  line-height: 21px;
  color: $propisory-white;
}

@mixin itemsSubText() {
  font-family: $font-family-primary;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 20px;
  color: $propisory-white;
}

@mixin inputLabelLoginText() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 17px;
  color: $table-text;
}

@mixin phoneInputLabelLoginTxt() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 17px;
  color: $background-color;
}

@mixin inputValueLoginText() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 500;
  line-height: 21px;
  color: $primary-color-text;
}

@mixin phoneInputValueLoginText() {
  @include inputValueLoginText();
  color: $background-color;
}

@mixin userTypePortalTxt() {
  font-family: $font-family-primary;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: $primary-color-text;
}

@mixin portalLinkTxt() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: $secondary-color;
}

@mixin phonePortalLinkTxt() {
  @include portalLinkTxt();
  color: $background-color;
}

@mixin policyLoginTxt() {
  font-family: $font-family-primary;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: $table-text;
}

@mixin phonePolicyLoginTxt() {
  @include policyLoginTxt();
  color: $background-color;
  font-size: 0.9rem;
}

@mixin policyHighlightTxt() {
  @include policyLoginTxt();
  color: $primary-color;
}

@mixin phonePolicyHighlightTxt() {
  @include policyLoginTxt();
  font-size: 0.9rem;
  text-decoration: underline;
  color: $background-color;
}

@mixin forgottenPassText() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 17px;
  color: $table-text;
}

/*
    Modals
*/

@mixin titleModal() {
  color: $primary-color-text;
  font-family: $font-family-primary;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 24px;
}

/*
  Forms;
*/
@mixin titleFormTxt() {
  @include titleModal();
  font-weight: 600;
}

@mixin phoneTitleFormTxt() {
  @include titleFormTxt();
  font-size: 0.9rem;
}

@mixin placeholderInputTxt() {
  font-family: $font-family-primary;
  color: $input-text-hint;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 21px;
}

@mixin selectOptionsTxt() {
  @include placeholderInputTxt();
  color: $input-text-color-active;
}

@mixin phoneSelectOptionsTxt() {
  @include selectOptionsTxt();
  font-size: 0.9rem;
}

//Tabs or titles;
@mixin titlesText() {
  color: $primary-color-text;
  font-family: $font-family-primary;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@mixin titleTextMobile() {
  color: $primary-color-text;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
}

@mixin subtitleTextMobile() {
  color: $primary-color-text;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
}

@mixin textMobile() {
  color: $primary-color-text;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.4rem;
}

@mixin labelText() {
  font-family: $font-family-primary;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.3px;
  color: $label-input-text-color;
}

@mixin phoneLabelTxt() {
  @include labelText();
  font-size: 0.8rem;
}

@mixin generalDescText() {
  font-family: $font-family-primary;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: $table-text;
}

@mixin generalModalText() {
  font-family: $font-family-primary;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: $primary-color-text;
}

@mixin generalModalSubtext() {
  font-family: $font-family-primary;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

@mixin tableHeaders() {
  font-family: $font-family-primary;
  font-size: 12px;
  font-weight: 500;
  line-height: 22.3px;
}

/*
  Sections header mobile;
*/
@mixin phoneSectionTitleTxt() {
  font-family: $font-family-primary;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 21px;
  color: $secondary-color;
}

/*
    Tables
*/

@mixin tableTitleText {
  font-family: $font-family-primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

@mixin tableOptionalTitletxt {
  @include tableTitleText();
  font-size: 1.4rem;
  line-height: 36px;
}

@mixin mobileTableOptionalTxt() {
  @include tableOptionalTitletxt();
  font-size: 1.2rem;
  line-height: 24px;
}

/*
  Cards
*/
@mixin idCardTxt() {
  font-family: $font-family-sec;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1rem;
  color: $table-text;
}

@mixin usernameCardTxt() {
  font-family: $font-family-sec;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 16.94px;
  color: $table-text;
}

@mixin supplierUserCardTxt() {
  font-family: $font-family-sec;
  font-size: 1; // ??
  font-weight: 400;
  color: $table-text;
}

@mixin cardTextResponsive() {
  @include medias(sm, md, lg, xl) {
    font-size: 0.9rem;
  }
}

@mixin keyCardTxt() {
  @include cardTextResponsive();
  font-family: $font-family-sec;
  font-weight: 400;
  line-height: 11px;
  color: $table-text;
}

@mixin cardText() {
  font-size: 0.85rem;
  font-family: $font-family-sec;
  font-weight: 400;
  line-height: 0.95rem;
  color: $secondary-color-text;
}

@mixin expiredDatesCardTxt() {
  @include cardText();
  font-weight: 600;
}

// cards generales
@mixin statusCardTxt() {
  font-family: $font-family-sec;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 600;
  color: $primary-color;
}

@mixin keyStatusCardTxt() {
  color: $primary-color;
  font-size: 0.9rem;
  line-height: 1rem;
  font-family: $font-family-sec;
}

// amount text
@mixin amountCardTxt() {
  font-size: 0.95rem;
  font-family: $font-family-sec;
  color: $primary-color-text;
  font-weight: 600;
  line-height: 1rem;
}

// not found
@mixin notFoundText() {
  font-family: $font-family-sec;
  font-weight: 500;
  color: $secondary-color-text;
  line-height: 11px;
  font-size: 1.125rem;
  @include lg() {
    font-size: 1.125rem;
  }
  @include md() {
    font-size: 1rem;
  }
  @include sm() {
    font-size: 0.875rem;
  }
}

@mixin menuActionsTxt() {
  @include policyLoginTxt();
  font-size: 0.9rem;
  line-height: 16px;
}

@mixin menuActionsTxtHover() {
  background-color: $hover-button;
  cursor: pointer;
}

/*
  Chart
*/
@mixin dashboardTooltip() {
  font-family: $font-family-sec;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 16.94px;
  color: $table-text;
}

@mixin dashboardTooltipValue() {
  font-family: $font-family-sec;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 16.94px;
  color: $primary-color-text;
}

@mixin chartXAxis() {
  font-family: $font-family-sec;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 16.94px;
  color: $table-text;
}

@mixin chartYAxis() {
  font-family: $font-family-sec;
  font-size: 1rem;
  font-weight: 400;
  line-height: 16.94px;
  color: $table-text;
}

/*
    Buttons
*/
@mixin generalBtnTxt() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 500;
  line-height: 21px;
  color: $propisory-white;

  @include lg() {
    font-size: 0.875rem;
  }
  @include md() {
    font-size: 0.875rem;
  }
  @include sm() {
    font-size: 0.875rem;
  }
}

@mixin phoneGeneralBtnTxt() {
  @include generalBtnTxt();
  font-size: 0.9rem;
}

@mixin modalBtnTxt() {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 500;
  line-height: 21px;
  color: $propisory-white;
}

@mixin filtersBtnTxt() {
  font-family: $font-family-primary;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 18px;
  color: $table-text;
}

//Buttons without background;
@mixin strokeBtnTxt() {
  font-family: $font-family-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $secondary-color;
}

@mixin strokeBtnGradientTxt() {
  @include gradientTexts();
  font-family: $font-family-primary;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

@mixin backRouteBtnTxt() {
  @include strokeBtnGradientTxt();
  color: $secondary-color;
}

/*
  Paginator
*/

@mixin paginatorText() {
  font-family: $font-family-sec;
  font-size: 13px;
  font-weight: 600;
  line-height: 15.73px;
  color: $primary-color-text;
}

/*
  Ellipsis
*/
@mixin hideLongTexts() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin observationCommentsText() {
  @include generalText();
  color: $primary-color-text;
  font-size: 0.9rem;
  @include lg() {
    font-size: 0.875rem;
  }
  @include md() {
    font-size: 0.875rem;
  }
  @include sm() {
    font-size: 0.875rem;
  }
}
